.AdminPanel h1 {
    color: white;
    text-align: center;
}
.AdminPanel form {
    color: white;
}

.AdminPanel label {
    font-size: 100%;
}

.label__body {
    color: white
}

.AdminPanel h2 {
    color: white;
    text-align: center; 
}