.AdminPanel h1 {
    color: white;
    text-align: center;

}
.AdminPanel input {
    width: 20%;
}

.AdminPanel button {
    width: 10%;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: blueviolet;
}

.AdminPanel label {
    font-size: 200%;
}

.label__body {
    color: white
}