@charset "utf-8";

/* Variables
   ============================================== */

/* placeholder */
:root {
    --placeholder-color: inherit; /* Definiert die Farbe des Platzhalters */
    --placeholder-opacity: 0.7; /* Definiert die Deckkraft des Platzhalters */
  }
  
/* buttons */
:root {
    --buttons-border-radius: 50px; /* Definiert den Randradius der Schaltflächen */
    --buttons-primary-background-color: #e100ff; /* Definiert die Hintergrundfarbe der primären Schaltflächen */
    --buttons-primary-color: #fff; /* Definiert die Textfarbe der primären Schaltflächen */
  }


/* Mixins
   ============================================== */

@mixin clear-fix() {
  &:before,
  &:after {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }
}

/* Reset
   ============================================== */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  
/* Common
   ============================================== */
   
   html {
    font-family: "Open Sans"; /* Definiert die Schriftart für den Text im HTML-Dokument */
    min-height: 100%; /* Definiert die minimale Höhe des HTML-Dokuments */
    min-width: 320px; /* Definiert die minimale Breite des HTML-Dokuments */
  }
  
body {
  background-color: #000000;
  background: -ms-linear-gradient(top left, #663faa 0%, #585fd5 100%);
  font-size: 14px; /* Definiert die Schriftgröße für den Text im Body */
  min-width: 100%; /* Definiert die minimale Breite des Body */
  min-height: 100%; /* Definiert die minimale Höhe des Body */
  overflow: scroll; /* Definiert das Scrollverhalten für den Body-Inhalt */
  padding: 30px 0; /* Definiert den Außenpolster des Body */
}
   
.container {
    display: block; /* Setzt das Anzeigeformat auf Block für das Container-Element */
    background: #fff; /* Definiert die Hintergrundfarbe des Containers */
    width: 320px; /* Definiert die Breite des Containers */
    min-height: 400px; /* Definiert die minimale Höhe des Containers */
    border-radius: 50px; /* Definiert den Randradius des Containers */
    margin: 0 auto; /* Zentriert den Container auf der Seite */
    padding: 30px; /* Definiert den Innenpolster des Containers */
  }

  .container h1 {
    position: relative; /* Definiert die Position des Titels relativ */
    display: inline-block; /* Setzt das Anzeigeformat auf Inline-Block für den Titel */
    color: #000; /* Definiert die Textfarbe des Titels */
    font-size: 2em; /* Definiert die Schriftgröße des Titels */
    font-weight: 400; /* Definiert die Schriftstärke des Titels */
    text-transform: uppercase; /* Wandelt den Text des Titels in Großbuchstaben um */
    text-align: center; /* Zentriert den Text des Titels */
    margin: 0 0 20px; /* Definiert den Außenabstand des Titels */
    padding: 0; /* Definiert den Innenpolster des Titels */
  }

.container h1:after { /* Für den schwarzen Strich*/ 
  display: block; 
  background: #000;
  content: '';
  height: 3px;
  width: 50%;
  margin: 20px auto 0;
  padding: 0;
}

.form {
    display: block; /* Setzt das Anzeigeformat auf Block für das Formular */
}

.form__group {
    margin: 10px 0 0; /* Definiert den Außenabstand der Formulargruppe */
  }

.form__group--error.form__pincode > input:disabled,
.form__group--success.form__pincode > input:disabled {
  background-color: #eb3b3b;
  color: #fff;
  opacity: 1;
}

.form__group--success.form__pincode > input:disabled {
  background-color: #32c832;
}

.form__pincode {
    display: block; /* Setzt das Anzeigeformat auf Block für den PIN-Code */
    width: 100%; /* Definiert die Breite des PIN-Codes */
    margin: 10px auto 20px; /* Definiert den Außenabstand des PIN-Codes */
    padding: 0; /* Definiert den Innenpolster des PIN-Codes */
  }

.form__pincode:after,
.form__pincode:before {
  display: table;
  content: '';
}

.form__pincode > label {
  display: block;
  text-align: center;
  margin: 10px 0;
}

.form__pincode > input[type="number"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.form__pincode > input {
  display: inline-block;
  float: left;
  width: 15%;
  height: 50px;
  line-height: 48px;
  text-align: center;
  font-size: 2em;
  color: #181819;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px 2px 0 0;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;
  cursor: default;
  user-select: none;
  margin: 0;
  margin-top: 10px;
  margin-right: 2%;
  padding: 0;
}

.form__pincode > input:focus {
  outline: 0;
  box-shadow: none;
  border-color: #1486f0;
  -webkit-animation: border-pulsate 1.5s infinite;
}

.form__pincode > input:last-child {
  margin-right: 0;
}

.form__pincode > input:disabled {
  background: #eee;
  opacity: 1;
}

.form__buttons {
  text-align: center;
  margin: 20 auto;
  
}


/* Button
   ============================================== */

.button {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  margin: 20px;
  padding: 0 20px;
}

.button--primary {
  background-color: var(--buttons-primary-background-color);
  color: var(--buttons-primary-color);
  line-height: 48px;
  border: 1px solid transparent;
  border-radius: var(--buttons-border-radius);
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  -webkit-touch-callout: none;
}

.button--primary:focus,
.button--primary:hover {
  background-color: darken(var(--buttons-primary-background-color), 10%);
  color: var(--buttons-primary-color);
}

.button--primary:active {
  background-color: darken(var(--buttons-primary-background-color), 20%);
  color: var(--buttons-primary-color);
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.button--primary:disabled {
  background-color: var(--buttons-primary-background-color);
  user-select: none;
  pointer-events: none;
  cursor: not-allowed;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}


/* Placeholder
   ============================================== */

/* Chrome/Opera/Safari */
::placeholder {
  color: var(--placeholder-color);
  opacity: var(--placeholder-opacity);
}

/* Firefox 19+ */
::-moz-placeholder {
  color: var(--placeholder-color);
  opacity: var(--placeholder-opacity);
}

/* IE 10+ */
:-ms-input-placeholder {
  color: var(--placeholder-color);
  opacity: var(--placeholder-opacity);
}

/* Firefox 18- */
:-moz-placeholder {
  color: var(--placeholder-color);
  opacity: var(--placeholder-opacity);
}

  
/* Animations
   ============================================== */

@keyframes border-pulsate {
  0% {
    border-color: rgba(20, 134, 240, 1); /* Definiert die Rahmenfarbe beim Start der Animation */
  }
  50% {
    border-color: rgba(0, 0, 0, 0.3); /* Definiert die Rahmenfarbe in der Mitte der Animation */
  }
  100% {
    border-color: rgba(20, 134, 240, 1); /* Definiert die Rahmenfarbe am Ende der Animation */
  }
}
