/* Layout für die gesamte Seite */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.deck-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.deck {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.deck:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    overflow-y: auto;
}

.cards-left, .active-deck-container {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-height: 600px;
    overflow-y: auto;
}

.card-list, .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    max-height: 500px;
}

.card {
    width: 200px; /* angepasste Breite */
    height: 350px; /* angepasste Höhe */
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

input, button {
    padding: 8px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: auto;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    background-color: #ffd2d2;
    border: 1px solid #ff0000;
    border-radius: 4px;
}
