/* Container für die Nutzerliste und Freundeliste */
.BFF {
    display: flex;
    justify-content: space-around;
    background: white;
    width: 130%;
    margin: 0 auto;
}

/* Stil für die Label der Formulare */
.form-check-label {
    color: #070707;
}

/* Stil für die Hülle der Nutzerliste und Freundeliste */
.BFF .UserList-hülle,
.BFF .FriendList-hülle {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 45%;
}

/* Stil für die Überschriften in der Nutzerliste und Freundeliste */
.BFF .UserList-hülle h2,
.BFF .FriendList-hülle h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-decoration: underline;
}

/* Stil für die Listen in der Nutzerliste und Freundeliste */
.BFF .UserList,
.BFF .FriendList,
.BFF .FriendRequests {
    max-height: 500px;
    overflow-y: auto;
}

/* Stil für die Listenpunkte in der Nutzerliste und Freundeliste */
.BFF ul {
    list-style-type: none;
    padding: 20px;
    font-size: 18px;
}

/* Stil für die einzelnen Listeneinträge */
.BFF li {
    margin-bottom: 20px;
}

/* Stil für die Modalen Fenster */
.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Stil für den Overlay hinter dem Modalen Fenster */
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
}

/* Container für das Profil */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Stil für die Überschrift im Profil-Header */
.profile-header h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-decoration: underline;
}

/* Stil für die Profilinformationen */
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Stil für das Profilbild */
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Stil für die einzelnen Profilinformationen */
.profile-info p {
    margin: 5px 0;
    font-size: 18px;
}

/* Stil für Buttons */
button {
    margin-top: 20px;
    font-size: 12px;
    padding: 8px 16px;
}
