<html>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-12 col-lg-12 col-xl-10">
        <div class="user-form-card">
            <div class="user-form-title">
                <h2>welcome!</h2>
                <p>Use your credentials to access</p>
            </div>
            <div class="user-form-group">
                <form class="user-form" method="post" action="{% url '/registration' %}">
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Enter your password">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Geburtsdatum" placeholder="Enter your Geburtsdatum">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="firstname" placeholder="Enter your firstname">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastname" placeholder="Enter your lastname">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="role" placeholder="Enter your role">
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="form-button">
                        <button type="submit">login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>
