.card {
  --bs--bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-img-overlay-padding: 1rem;
  word-wrap: break-word;
  box-sizing: border-box;
  width: 100%; /* Anpassung der Breite */
  height: 100%; /* Anpassung der Höhe */
  overflow: hidden; /* Verhindern von Überlauf */
  position: relative;
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
  font-size: medium;
}

h5 {
  font-size: 1.25rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.d-flex {
  margin-top: auto; /* Drückt den Button an den unteren Rand der .card-body, wenn genug Inhalt vorhanden ist */
}

.stats-circle {
  width: 10%;
  height: 10%;
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: absolute;
}

.attack-points {
  background-color: #ff4136;  
}

.defense-points {
  background-color: #0074d9;  
}

.card-rarity {
  text-align: center;
  background-color: #ffffff;
  border-bottom: 2px solid #000000;
  padding: 5px;
}

.card-img-top {
  width: 100%; /* Bild auf die volle Breite der Karte skalieren */
  height: auto; /* Höhe automatisch anpassen */
  max-height: 150px;
  object-fit: cover; /* optional: um sicherzustellen, dass das Bild gut aussieht */
}

.card-description {
  flex: 1; /* Nimmt den verbleibenden Platz ein */
  overflow-y: auto; /* Ermöglicht Scrollen bei Überlauf */
  padding: 5px;
}

.card-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px); /* 10px Padding auf beiden Seiten berücksichtigen */
  display: flex;
  justify-content: center;
  align-items: center;
}
