/* Setzt den Hintergrund auf Schwarz */
body {
    margin: 0; /* Setzt den Außenabstand auf 0 */
    padding: 0; /* Setzt den Innenabstand auf 0 */
    display: flex; /* Verwendet Flexbox-Layout */
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: center; /* Zentriert den Inhalt vertikal */
    height: 100vh; /* Setzt die Höhe des Body auf 100% der Bildschirmhöhe */
    background-color: #000; /* Hintergrundfarbe des Body auf Schwarz setzen */
    color: #fff; /* Textfarbe auf Weiß setzen */
  }
  
  /* Stil für den Container des Login-Formulars */
  .login-container {
    width: 00px; /* Breite des Formularcontainers */
    padding: 20px; /* Innenabstand des Formulars */
    border: 10px solid #ccc; /* Rahmen um das Formular */
    border-radius: 5px; /* Abrundung der Ecken des Formulars */
    background-color: #222; /* Hintergrundfarbe des Formulars auf Dunkelgrau setzen */
  }
  
  /* Stil für Formulargruppen (Label + Input) */
  .form-group {
    margin-bottom: 15px; /* Abstand zwischen den Formulargruppen */
  }
  
  /* Stil für Label */
  label {
    display: block; /* Label wird als Blockelement dargestellt */
    margin-bottom: 5px; /* Abstand unterhalb des Labels */
    color: #fff; /* Textfarbe des Labels auf Weiß setzen */
  }
  
  /* Stil für Input-Felder */
  input[type="text"],
  input[type="password"] {
    width: 100%; /* Füllt die Breite des Containers aus */
    padding: 8px; /* Innenabstand des Input-Feldes */
    border: 1px solid #ccc; /* Rahmen um das Input-Feld */
    border-radius: 3px; /* Abrundung der Ecken des Input-Feldes */
    background-color: #444; /* Hintergrundfarbe des Input-Feldes auf Dunkelgrau setzen */
    color: #fff; /* Textfarbe des Input-Feldes auf Weiß setzen */
    margin-bottom: 5px;
  }
  
  /* Stil für Button */
  button {
    width: 110%; /* Füllt die Breite des Containers aus */
    padding: 10px; /* Innenabstand des Buttons */
    margin-top: 15px; /* Abstand nach oben */
    border: none; /* Kein Rahmen um den Button */
    border-radius: 3px; /* Abrundung der Ecken des Buttons */
    background-color: #e100ff; /* Hintergrundfarbe des Buttons auf Blau setzen */
    color: #fff; /* Textfarbe des Buttons auf Weiß setzen */
    cursor: pointer; /* Zeiger bei Mausüberfahren des Buttons */
  }
  
  /* Stil für Button bei Hover */
  button:hover {
    background-color: #b108b1; /* Ändern der Hintergrundfarbe beim Hovern */
  }
  .register-link {
    text-align: center; /* Zentriert den Inhalt horizontal */
  }
  
  .register-link p {
    margin-bottom: 5px; /* Abstand unter dem Text */
  }
  
  .register-link button {
    display: block; /* Macht den Button zu einem Blockelement */
    margin: 0 auto; /* Zentriert den Button horizontal */
  }
  